<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <title> Candor</title>

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Bootstrap core CSS -->
  <link href="static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!--external css-->
  <link href="static/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="static/lib/bootstrap-datepicker/css/datepicker.css" />
  <link rel="stylesheet" type="text/css" href="static/lib/bootstrap-daterangepicker/daterangepicker.css" />
  <!-- Custom styles for this template -->
  <link href="static/css/style.css" rel="stylesheet">
  <link href="static/css/style-responsive.css" rel="stylesheet">

  <!-- =======================================================
    Template Name: Dashio
    Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
    Author: TemplateMag.com
    License: https://templatemag.com/license/
  ======================================================= -->
</head>

<body>
  <section id="container">
    <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
      </div>
      <!--logo start-->
      <a href="index.html" class="logo"><b>CAND<span>OR</span></b></a>
      <!--logo end-->
      <div class="nav notify-row" id="top_menu">
        <!--  notification start -->
        <ul class="nav top-menu">
          <!-- settings start -->
          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
              <i class="fa fa-tasks"></i>
              <span class="badge bg-theme">4</span>
              </a>
            <ul class="dropdown-menu extended tasks-bar">
              <div class="notify-arrow notify-arrow-green"></div>
              <li>
                <p class="green">You have 4 pending tasks</p>
              </li>
              <li>
                <a href="index.html#">
                  <div class="task-info">
                    <div class="desc">Dashio Admin Panel</div>
                    <div class="percent">40%</div>
                  </div>
                  <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                      <span class="sr-only">40% Complete (success)</span>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="index.html#">
                  <div class="task-info">
                    <div class="desc">Database Update</div>
                    <div class="percent">60%</div>
                  </div>
                  <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                      <span class="sr-only">60% Complete (warning)</span>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="index.html#">
                  <div class="task-info">
                    <div class="desc">Product Development</div>
                    <div class="percent">80%</div>
                  </div>
                  <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                      <span class="sr-only">80% Complete</span>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="index.html#">
                  <div class="task-info">
                    <div class="desc">Payments Sent</div>
                    <div class="percent">70%</div>
                  </div>
                  <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                      <span class="sr-only">70% Complete (Important)</span>
                    </div>
                  </div>
                </a>
              </li>
              <li class="external">
                <a href="#">See All Tasks</a>
              </li>
            </ul>
          </li>
          <!-- settings end -->
          <!-- inbox dropdown start-->
          <li id="header_inbox_bar" class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
              <i class="fa fa-envelope-o"></i>
              <span class="badge bg-theme">5</span>
              </a>
            <ul class="dropdown-menu extended inbox">
              <div class="notify-arrow notify-arrow-green"></div>
              <li>
                <p class="green">You have 5 new messages</p>
              </li>
              <li>
                <a href="index.html#">
                  <span class="photo"><img alt="avatar" src="static/img/ui-zac.jpg"></span>
                  <span class="subject">
                  <span class="from">Zac Snider</span>
                  <span class="time">Just now</span>
                  </span>
                  <span class="message">
                  Hi mate, how is everything?
                  </span>
                  </a>
              </li>
              <li>
                <a href="index.html#">
                  <span class="photo"><img alt="avatar" src="static/img/ui-divya.jpg"></span>
                  <span class="subject">
                  <span class="from">Divya Manian</span>
                  <span class="time">40 mins.</span>
                  </span>
                  <span class="message">
                  Hi, I need your help with this.
                  </span>
                  </a>
              </li>
              <li>
                <a href="index.html#">
                  <span class="photo"><img alt="avatar" src="static/img/ui-danro.jpg"></span>
                  <span class="subject">
                  <span class="from">Dan Rogers</span>
                  <span class="time">2 hrs.</span>
                  </span>
                  <span class="message">
                  Love your new Dashboard.
                  </span>
                  </a>
              </li>
              <li>
                <a href="index.html#">
                  <span class="photo"><img alt="avatar" src="static/img/ui-sherman.jpg"></span>
                  <span class="subject">
                  <span class="from">Dj Sherman</span>
                  <span class="time">4 hrs.</span>
                  </span>
                  <span class="message">
                  Please, answer asap.
                  </span>
                  </a>
              </li>
              <li>
                <a href="index.html#">See all messages</a>
              </li>
            </ul>
          </li>
          <!-- inbox dropdown end -->
          <!-- notification dropdown start-->
          <li id="header_notification_bar" class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
              <i class="fa fa-bell-o"></i>
              <span class="badge bg-warning">7</span>
              </a>
            <ul class="dropdown-menu extended notification">
              <div class="notify-arrow notify-arrow-yellow"></div>
              <li>
                <p class="yellow">You have 7 new notifications</p>
              </li>
              <li>
                <a href="index.html#">
                  <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                  Server Overloaded.
                  <span class="small italic">4 mins.</span>
                  </a>
              </li>
              <li>
                <a href="index.html#">
                  <span class="label label-warning"><i class="fa fa-bell"></i></span>
                  Memory #2 Not Responding.
                  <span class="small italic">30 mins.</span>
                  </a>
              </li>
              <li>
                <a href="index.html#">
                  <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                  Disk Space Reached 85%.
                  <span class="small italic">2 hrs.</span>
                  </a>
              </li>
              <li>
                <a href="index.html#">
                  <span class="label label-success"><i class="fa fa-plus"></i></span>
                  New User Registered.
                  <span class="small italic">3 hrs.</span>
                  </a>
              </li>
              <li>
                <a href="index.html#">See all notifications</a>
              </li>
            </ul>
          </li>
          <!-- notification dropdown end -->
        </ul>
        <!--  notification end -->
      </div>
      <div class="top-menu">
        <ul class="nav pull-right top-menu">
          <li><a class="logout" href="login.html">Logout</a></li>
        </ul>
      </div>
    </header>
    <!--header end-->
    <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href="/profile"><img src="/static/img/anon.jpg" class="img-circle" width="80"></a></p>
          <h5 class="centered"> Anon </h5>
          <li class="mt">
            <a href="index.html">
              <i class="fa fa-dashboard"></i>
              <span>Dashboard</span>
              </a>
          </li>
          <li class="sub-menu">
            <a class="active" href="javascript:;">
              <i class="fa fa-tasks"></i>
              <span>Forms</span>
              </a>
            <ul class="sub">
              <li class="active"><a href="form_component.html">Form Components</a></li>
              <li><a href="advanced_form_components.html">Advanced Components</a></li>
              <li><a href="form_validation.html">Form Validation</a></li>
              <li><a href="contactform.html">Contact Form</a></li>
              <li><a href="contactform.html">Contact Form</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class=" fa fa-bar-chart-o"></i>
              <span>Charts</span>
              </a>
            <ul class="sub">
              <li><a href="morris.html">Morris</a></li>
              <li><a href="chartjs.html">Chartjs</a></li>
              <li><a href="flot_chart.html">Flot Charts</a></li>
              <li><a href="xchart.html">xChart</a></li>
            </ul>
          </li>
        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <h3> Create Your Candor Chart </h3>
        <!-- BASIC FORM ELELEMNTS -->
        <form class="form-horizontal style-form" action="" method="post">
        <div class="row mt">
          <div class="col-lg-12">
            <div class="form-panel">
              <h4 class="mb"><b> Education <b></h4>
                <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label"> School Name </label>

                  <div class="col-sm-10">
                      {{ form.school(class_="form-control") }}
                    </div>
                </div>
                  <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label"> GPA </label>
                    <div class="col-sm-10">
                      {{ form.gpa(class_="form-control") }}
                      </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3"> Graduation Date</label>
                      <div class="col-md-4">
                        <div class="input-group input-large" data-date="01/01/2014" data-date-format="mm/dd/yyyy">
                          <input type="text" class="form-control dpd2" name="grad date">
                        </div>
                        <span class="help-block">Select date (format MM/YYYY)</span>
                      </div>
                  </div>
              <div class="form-group">
                <label class="col-sm-2 col-sm-2 control-label"> Major(s)/Minor(s) </label>
                <div class="col-sm-10">
                  {{ form.major(class_="form-control") }}
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 col-sm-2 control-label"> Email </label>
                <div class="col-sm-10">
                  {{ form.email(class_="form-control") }}
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 col-sm-2 control-label"> Phone Number </label>
                <div class="col-sm-10">
                  {{ form.phone(class_="form-control") }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        <div class="row mt">
          <div class="col-lg-12">
            <div class="form-panel">
              <h4 class="mb"> <b> Work Experience <b> </h4>
                <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label"> Company Name</label>
                  <div class="col-sm-10" required>
                    {{ work.company(class_="form-control") }}
                  </div>
                </div>
                  <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label"> Role/Title </label>
                    <div class="col-sm-10">
                      {{ work.role(class_="form-control") }}  </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3">Date Range</label>
                    <div class="col-md-4">
                      <div class="input-group input-large" data-date="01/01/2014" data-date-format="mm/dd/yyyy">
                        <input type="text" class="form-control dpd1" name="from">
                        <span class="input-group-addon">To</span>
                        <input type="text" class="form-control dpd2" name="to">
                      </div>
                      <span class="help-block">Select date range (format MM/DD/YYYY)</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label"> Description </label>
                    <div class="col-sm-10">
                      {{ work.desc(class_="form-control") }}
                      <span class="help-block"> Ie."I performed data analysis for our internal legal team."</span>
                    </div>
                  </div>
            </div>
          </div>
          <!-- col-lg-12-->
        </div>
        <div class="row mt">
          <div class="col-lg-12">
            <div class="form-panel">
              <h4 class="mb"> <b> Extracurricular Activities <b> </h4>
              <form class="form-horizontal style-form" action="" method="post">
                <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label"> Company/Group</label>
                  <div class="col-sm-10">
                    {{ activity.group(class_="form-control") }}
                  </div>
                </div>
                  <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label"> Role/Title </label>
                    <div class="col-sm-10">
                      {{ activity.role(class_="form-control") }}  </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3">Date Range</label>
                    <div class="col-md-4">
                      <div class="input-group input-large" data-date="01/01/2014" data-date-format="mm/dd/yyyy">
                        <input type="text" class="form-control dpd1" name="from">
                        <span class="input-group-addon">To</span>
                        <input type="text" class="form-control dpd2" name="to">
                      </div>
                      <span class="help-block">Select date range (format MM/DD/YYYY)</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label"> Description </label>
                    <div class="col-sm-10">
                      {{ activity.desc(class_="form-control") }}
                      <span class="help-block"> Ie."I performed data analysis for our internal legal team."</span>
                    </div>
                  </div>
              </form>
            </div>
          </div>
          <!-- col-lg-12-->
        </div>
        <div class="row mt">
          <div class="col-lg-12">
            <div class="form-panel">
              <h4 class="mb"> <b> Coursework <b></h4>
                <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label"> Course Name</label>
                  <div class="col-sm-10">
                    {{ course.title(class_="form-control") }}
                  </div>
                </div>
                  <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label"> Category </label>
                    <div class="col-sm-10">
                      {{ course.category(class_="form-control") }}  </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label"> Description </label>
                    <div class="col-sm-10">
                      {{ course.desc(class_="form-control") }}
                      <span class="help-block"> Ie."I worked on a group project and final presentation."</span>
                    </div>
                  </div>
                      {{ form.submit(class_="btn btn-theme")}}
            </div>
          </div>
          <!-- col-lg-12-->
        </div>
      </form>
        <!-- /row -->
      </section>
      <!-- /wrapper -->
    </section>
    <!-- /MAIN CONTENT -->
    <!--main content end-->
    <!--footer start-->
    <footer class="site-footer">
      <div class="text-center">
        <p>
          &copy; Copyrights <strong> Candor </strong>. All Rights Reserved
        </p>
        <a href="form_component.html#" class="go-top">
          <i class="fa fa-angle-up"></i>
          </a>
      </div>
    </footer>
    <!--footer end-->
  </section>
  <!-- js placed at the end of the document so the pages load faster -->
  <script src="static/lib/jquery/jquery.min.js"></script>
  <script src="static/ib/bootstrap/js/bootstrap.min.js"></script>
  <script class="include" type="text/javascript" src="lib/jquery.dcjqaccordion.2.7.js"></script>
  <script src="static/lib/jquery.scrollTo.min.js"></script>
  <script src="static/lib/jquery.nicescroll.js" type="text/javascript"></script>
  <!--common script for all pages-->
  <script src="static/lib/common-scripts.js"></script>
  <!--script for this page-->
  <script src="static/lib/jquery-ui-1.9.2.custom.min.js"></script>
  <!--custom switch-->
  <script src="static/lib/bootstrap-switch.js"></script>
  <!--custom tagsinput-->
  <script src="static/lib/jquery.tagsinput.js"></script>
  <!--custom checkbox & radio-->
  <script type="text/javascript" src="static/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
  <script type="text/javascript" src="static/lib/bootstrap-daterangepicker/date.js"></script>
  <script type="text/javascript" src="static/lib/bootstrap-daterangepicker/daterangepicker.js"></script>
  <script type="text/javascript" src="static/lib/bootstrap-inputmask/bootstrap-inputmask.min.js"></script>
  <script src="static/lib/form-component.js"></script>

</body>

</html>
