<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <title> Candor</title>

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Bootstrap core CSS -->
  <link href="static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!--external css-->
  <link href="static/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="static/lib/bootstrap-datepicker/css/datepicker.css" />
  <link rel="stylesheet" type="text/css" href="static/lib/bootstrap-daterangepicker/daterangepicker.css" />
  <!-- Custom styles for this template -->
  <link href="static/css/style.css" rel="stylesheet">
  <link href="static/css/style-responsive.css" rel="stylesheet">

  <!-- =======================================================
    Template Name: Dashio
    Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
    Author: TemplateMag.com
    License: https://templatemag.com/license/
  ======================================================= -->
</head>

<body>
  <section id="container">
    <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
      </div>
      <!--logo start-->
      <a href="index.html" class="logo"><b>CAND<span>OR</span></b></a>
      <!--logo end-->
      
      <div class="top-menu">
        <ul class="nav pull-right top-menu">
          <li><a class="logout" href="login.html">Logout</a></li>
        </ul>
      </div>
    </header>
    <!--header end-->
    <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href="/profile"><img src="/static/img/anon.jpg" class="img-circle" width="80"></a></p>
          <h5 class="centered"> {{ user_name }} </h5>
          <li class="mt">
            <a href="/profile">
              <i class="fa fa-dashboard"></i>
              <span>Candor Chart</span>
              </a>
          </li>
          <li class="sub-menu">
            <a class="active" href="/input_resume">
              <i class="fa fa-tasks"></i>
              <span>Forms</span>
              </a>
          </li>
        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <h3> Create Your Candor Chart </h3>
        <!-- BASIC FORM ELELEMNTS -->
        <form class="form-horizontal style-form" action="" method="post">
        <div class="row mt">
          <div class="col-lg-12">
            <div class="form-panel">
              <h4 class="mb"><b> General Information <b></h4>
                <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label"> Full Name </label>

                  <div class="col-sm-10">
                      {{ form.name(class_="form-control") }}
                    </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label"> School Name </label>

                  <div class="col-sm-10">
                      {{ form.school(class_="form-control") }}
                    </div>
                </div>
                  <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label"> GPA </label>
                    <div class="col-sm-10">
                      {{ form.gpa(class_="form-control") }}
                      </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3"> Graduation Date</label>
                      <div class="col-md-4">
                        <div class="input-group input-large" data-date="01/01/2014" data-date-format="mm/dd/yyyy">
                          <input type="text" class="form-control dpd2" name="grad date">
                        </div>
                        <span class="help-block">Select date (format MM/YYYY)</span>
                      </div>
                  </div>
              <div class="form-group">
                <label class="col-sm-2 col-sm-2 control-label"> Major(s)/Minor(s) </label>
                <div class="col-sm-10">
                  {{ form.major(class_="form-control") }}
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 col-sm-2 control-label"> Email </label>
                <div class="col-sm-10">
                  {{ form.email(class_="form-control") }}
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 col-sm-2 control-label"> Phone Number </label>
                <div class="col-sm-10">
                  {{ form.phone(class_="form-control") }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        <div class="row mt">
          <div class="col-lg-12">
            <div class="form-panel">
              <h4 class="mb"> <b> Work Experience <b> </h4>
                <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label"> Company Name</label>
                  <div class="col-sm-10" required>
                    {{ work.company(class_="form-control") }}
                  </div>
                </div>
                  <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label"> Role/Title </label>
                    <div class="col-sm-10">
                      {{ work.role(class_="form-control") }}  </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3">Date Range</label>
                    <div class="col-md-4">
                      <div class="input-group input-large" data-date="01/01/2014" data-date-format="mm/dd/yyyy">
                        <input type="text" class="form-control dpd1" name="from">
                        <span class="input-group-addon">To</span>
                        <input type="text" class="form-control dpd2" name="to">
                      </div>
                      <span class="help-block">Select date range (format MM/DD/YYYY)</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label"> Description </label>
                    <div class="col-sm-10">
                      {{ work.work_desc(class_="form-control") }}
                      <span class="help-block"> Ie."I performed data analysis for our internal legal team."</span>
                    </div>
                  </div>
            </div>
          </div>
          <!-- col-lg-12-->
        </div>
        <div class="row mt">
          <div class="col-lg-12">
            <div class="form-panel">
              <h4 class="mb"> <b> Extracurricular Activities <b> </h4>
              <form class="form-horizontal style-form" action="" method="post">
                <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label"> Company/Group</label>
                  <div class="col-sm-10">
                    {{ activity.group(class_="form-control") }}
                  </div>
                </div>
                  <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label"> Role/Title </label>
                    <div class="col-sm-10">
                      {{ activity.title(class_="form-control") }}  </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3">Date Range</label>
                    <div class="col-md-4">
                      <div class="input-group input-large" data-date="01/01/2014" data-date-format="mm/dd/yyyy">
                        <input type="text" class="form-control dpd1" name="from">
                        <span class="input-group-addon">To</span>
                        <input type="text" class="form-control dpd2" name="to">
                      </div>
                      <span class="help-block">Select date range (format MM/DD/YYYY)</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label"> Description </label>
                    <div class="col-sm-10">
                      {{ activity.extra_desc(class_="form-control") }}
                      <span class="help-block"> Ie."I performed data analysis for our internal legal team."</span>
                    </div>
                  </div>
              </form>
            </div>
          </div>
          <!-- col-lg-12-->
        </div>
        <div class="row mt">
          <div class="col-lg-12">
            <div class="form-panel">
              <h4 class="mb"> <b> Coursework <b></h4>
                <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label"> Course Name</label>
                  <div class="col-sm-10">
                    {{ course.title(class_="form-control") }}
                  </div>
                </div>
                  <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label"> Category </label>
                    <div class="col-sm-10">
                      {{ course.category(class_="form-control") }}  </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label"> Description </label>
                    <div class="col-sm-10">
                      {{ course.course_desc(class_="form-control") }}
                      <span class="help-block"> Ie."I worked on a group project and final presentation."</span>
                    </div>
                  </div>
                      {{ form.submit(class_="btn btn-theme")}}
            </div>
          </div>
          <!-- col-lg-12-->
        </div>
      </form>
        <!-- /row -->
      </section>
      <!-- /wrapper -->
    </section>
    <!-- /MAIN CONTENT -->
    <!--main content end-->
    <!--footer start-->
    <footer class="site-footer">
      <div class="text-center">
        <p>
          &copy; Copyrights <strong> Candor </strong>. All Rights Reserved
        </p>
        <a href="form_component.html#" class="go-top">
          <i class="fa fa-angle-up"></i>
          </a>
      </div>
    </footer>
    <!--footer end-->
  </section>
  <!-- js placed at the end of the document so the pages load faster -->
  <script src="static/lib/jquery/jquery.min.js"></script>
  <script src="static/ib/bootstrap/js/bootstrap.min.js"></script>
  <script class="include" type="text/javascript" src="lib/jquery.dcjqaccordion.2.7.js"></script>
  <script src="static/lib/jquery.scrollTo.min.js"></script>
  <script src="static/lib/jquery.nicescroll.js" type="text/javascript"></script>
  <!--common script for all pages-->
  <script src="static/lib/common-scripts.js"></script>
  <!--script for this page-->
  <script src="static/lib/jquery-ui-1.9.2.custom.min.js"></script>
  <!--custom switch-->
  <script src="static/lib/bootstrap-switch.js"></script>
  <!--custom tagsinput-->
  <script src="static/lib/jquery.tagsinput.js"></script>
  <!--custom checkbox & radio-->
  <script type="text/javascript" src="static/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
  <script type="text/javascript" src="static/lib/bootstrap-daterangepicker/date.js"></script>
  <script type="text/javascript" src="static/lib/bootstrap-daterangepicker/daterangepicker.js"></script>
  <script type="text/javascript" src="static/lib/bootstrap-inputmask/bootstrap-inputmask.min.js"></script>
  <script src="static/lib/form-component.js"></script>

</body>

</html>
