<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <title> Candor</title>

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Bootstrap core CSS -->
  <link href="static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!--external css-->
  <link href="static/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="static/lib/bootstrap-datepicker/css/datepicker.css" />
  <link rel="stylesheet" type="text/css" href="static/lib/bootstrap-daterangepicker/daterangepicker.css" />
  <!-- Custom styles for this template -->
  <link href="static/css/style.css" rel="stylesheet">
  <link href="static/css/style-responsive.css" rel="stylesheet">

  <!-- =======================================================
    Template Name: Dashio
    Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
    Author: TemplateMag.com
    License: https://templatemag.com/license/
  ======================================================= -->
</head>

<body>
  <section id="container">
    <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
      </div>
      <!--logo start-->
      <a href="index.html" class="logo"><b>CAND<span>OR</span></b></a>
      <!--logo end-->
      <div class="top-menu">
        <ul class="nav pull-right top-menu">
          <li><a class="logout" href="login.html">Logout</a></li>
        </ul>
      </div>
    </header>
    <!--header end-->
    <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href="/profile"><img src="/static/img/anon.jpg" class="img-circle" width="80"></a></p>
          <h5 class="centered"> {{ user_name}} </h5>
          <li class="mt">
            <a href="/">
              <i class="fa fa-dashboard"></i>
              <span>Dashboard</span>
              </a>
          </li>
          <li class="sub-menu">
            <a class="active" href="javascript:;">
              <i class="fa fa-tasks"></i>
              <span>Forms</span>
              </a>
            <ul class="sub">
              <li class="active"><a href="form_component.html">Form Components</a></li>
              <li><a href="advanced_form_components.html">Advanced Components</a></li>
              <li><a href="form_validation.html">Form Validation</a></li>
              <li><a href="contactform.html">Contact Form</a></li>
              <li><a href="contactform.html">Contact Form</a></li>
            </ul>
          </li>
        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <h3> Build Your Role </h3>
        <!-- BASIC FORM ELELEMNTS -->
        <form class="form-horizontal style-form" action="" method="post">
        <div class="row mt">
          <div class="col-lg-12">
            <div class="form-panel">
              <h4 class="mb"><b> Basic Requirements <b></h4>
                <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label"> Company </label>
                  <div class="col-sm-10">
                      {{ jobform.company(class_="form-control") }}
                    </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label"> Role </label>
                  <div class="col-sm-10">
                      {{ jobform.role(class_="form-control") }}
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label"> Team </label>
                  <div class="col-sm-10">
                      {{ jobform.team(class_="form-control") }}
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label"> Description </label>
                  <div class="col-sm-10">
                      {{ jobform.description(class_="form-control") }}
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3"> Application Deadline </label>
                    <div class="col-md-4">
                      <div class="input-group input-large" data-date="01/01/2014" data-date-format="mm/dd/yyyy">
                          {{ jobform.deadline(class_="form-control dpd2") }}
                      </div>
                      <span class="help-block"> Select date (format MM/DD/YYYY)</span>
                    </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label"> Qualities </label>
                  <div class="col-sm-10">
                      {{ jobform.qualities(class_="form-control", rows=3, multiple=True) }}
                  </div>
                </div>
              <div class="form-group">
                <label class="col-sm-2 col-sm-2 control-label"> Major(s)/Minor(s) </label>
                <div class="col-sm-10">
                  {{ jobform.major(class_="form-control") }}
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 col-sm-2 control-label"> Graduation Year</label>
                <div class="col-sm-10">
                  {{ jobform.year(class_="form-control") }}
                </div>
              </div>
                  {{ jobform.submit(class_="btn btn-theme")}}
            </div>
          </div>
        </div>
      </div>
      </form>
        <!-- /row -->
      </section>
      <!-- /wrapper -->
    </section>
    <!-- /MAIN CONTENT -->
    <!--main content end-->
    <!--footer start-->
    <footer class="site-footer">
      <div class="text-center">
        <p>
          &copy; Copyrights <strong> Candor </strong>. All Rights Reserved
        </p>
        <a href="form_component.html#" class="go-top">
          <i class="fa fa-angle-up"></i>
          </a>
      </div>
    </footer>
    <!--footer end-->
  </section>
  <!-- js placed at the end of the document so the pages load faster -->
  <script src="static/lib/jquery/jquery.min.js"></script>
  <script src="static/ib/bootstrap/js/bootstrap.min.js"></script>
  <script class="include" type="text/javascript" src="lib/jquery.dcjqaccordion.2.7.js"></script>
  <script src="static/lib/jquery.scrollTo.min.js"></script>
  <script src="static/lib/jquery.nicescroll.js" type="text/javascript"></script>
  <!--common script for all pages-->
  <script src="static/lib/common-scripts.js"></script>
  <!--script for this page-->
  <script src="static/lib/jquery-ui-1.9.2.custom.min.js"></script>
  <!--custom switch-->
  <script src="static/lib/bootstrap-switch.js"></script>
  <!--custom tagsinput-->
  <script src="static/lib/jquery.tagsinput.js"></script>
  <!--custom checkbox & radio-->
  <script type="text/javascript" src="static/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
  <script type="text/javascript" src="static/lib/bootstrap-daterangepicker/date.js"></script>
  <script type="text/javascript" src="static/lib/bootstrap-daterangepicker/daterangepicker.js"></script>
  <script type="text/javascript" src="static/lib/bootstrap-inputmask/bootstrap-inputmask.min.js"></script>
  <script src="static/lib/form-component.js"></script>

</body>

</html>
